# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/2024.9.14/FileContentIndex/39ee23d0-9890-4eee-89be-a6d7bcdac769.vsidx
.vs/2024.9.14/FileContentIndex/6b93cdd3-e8f0-4055-8bd9-306b47f9c8c8.vsidx
.vs/2024.9.14/v17/Browse.VC.opendb